# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

cmake-build-debug/CMakeFiles/3.14.5/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.14.5/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/MAIN.dir/CXX.includecache
cmake-build-debug/CMakeFiles/MAIN.dir/depend.internal
cmake-build-debug/CMakeFiles/MAIN.dir/main.cpp.o
cmake-build-debug/CMakeFiles/MAIN.dir/vectors.cpp.o
cmake-build-debug/MAIN
